html,
body {
    margin: 0;
    padding: 0;
    background-color: #FFF
}

canvas {
    display: block;
}

#reset_button {
    float: left;
    margin-left: 10px;
}

#controls_container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#degree_display {
    display: flex;
    justify-content: center;
    align-items: center;
}